# LSTM으로 지문을 읽어서 주제를 분류하기

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from IPython.display import Image

LSTM을 사용하여 각 지문의 주제를 분류하는 예제를 다뤄보겠습니다.  
아래 실습을 위해 입력값을 팬더스 데이터프레임에 저장합니다.

In [2]:
paragraph_dict_list = [
         {'paragraph': 'dishplace is located in sunnyvale downtown there is parking around the area but it can be difficult to find during peak business hours my sisters and i came to this place for dinner on a weekday they were really busy so i highly recommended making reservations unless you have the patience to wait', 'category': 'food'},
         {'paragraph': 'service can be slower during busy hours but our waiter was courteous and help gave some great entree recommendations', 'category': 'food'},
         {'paragraph': 'portions are huge both french toast and their various omelettes are really good their french toast is probably 1.5x more than other brunch places great place to visit if you are hungry and dont want to wait 1 hour for a table', 'category': 'food'},
         {'paragraph': 'we started with apps going the chicken and waffle slides and chicken nachos the sliders were amazing and the nachos were good too maybe by themselves the nachos would have scored better but after those sliders they were up against some tough competition', 'category': 'food'},
         {'paragraph': 'the biscuits and gravy was too salty two people in my group had the gravy and all thought it was too salty my hubby ordered a side of double egg and it was served on two small plates who serves eggs to one person on separate plates we commented on that when it was delivered and even the server laughed and said she doesnt know why the kitchen does that presentation of food is important and they really missed on this one', 'category': 'food'},
         {'paragraph': 'the garlic fries were a great starter (and a happy hour special) the pancakes looked and tasted great and were a fairly generous portion', 'category': 'food'},
         {'paragraph': 'our meal was excellent i had the pasta ai formaggi which was so rich i didnt dare eat it all although i certainly wanted to excellent flavors with a great texture contrast between the soft pasta and the crisp bread crumbs too much sauce for me but a wonderful dish', 'category': 'food'},
         {'paragraph': 'what i enjoy most about palo alto is so many restaurants have dog-friendly seating outside i had bookmarked italico from when they first opened about a 1.5 years ago and was jonesing for some pasta so time to finally knock that bookmark off', 'category': 'food'},
         {'paragraph': 'the drinks came out fairly quickly a good two to three minutes after the orders were taken i expected my iced tea to taste a bit more sweet but this was straight up green tea with ice in it not to complain of course but i was pleasantly surprised', 'category': 'food'},
         {'paragraph': 'despite the not so good burger the service was so slow the restaurant wasnt even half full and they took very long from the moment we got seated to the time we left it was almost 2 hours we thought that it would be quick since we ordered as soon as we sat down my coworkers did seem to enjoy their beef burgers for those who eat beef however i will not be returning it is too expensive and extremely slow service', 'category': 'food'},
    
         {'paragraph': 'the four reigning major champions simona halep caroline wozniacki angelique kerber and defending us open champion sloane stephens could make a case for being the quartet most likely to succeed especially as all but stephens has also enjoyed the no1 ranking within the last 14 months as they prepare for their gruelling new york campaigns they currently hold the top four places in the ranks', 'category': 'sports'},
         {'paragraph': 'the briton was seeded nn7 here last year before a slump in form and confidence took her down to no46 after five first-round losses but there have been signs of a turnaround including a victory over a sub-par serena williams in san jose plus wins against jelena ostapenko and victoria azarenka in montreal. konta pulled out of new haven this week with illness but will hope for good things where she first scored wins in a major before her big breakthroughs to the semis in australia and wimbledon', 'category': 'sports'},
         {'paragraph': 'stephens surged her way back from injury in stunning style to win her first major here last year—and ranked just no83 she has since proved what a big time player she is winning the miami title via four fellow major champions then reaching the final at the french open back on north american hard courts she ran to the final in montreal only just edged out by halep she has also avoided many of the big names in her quarter—except for wild card azarenka as a possible in the third round', 'category': 'sports'},
         {'paragraph': 'when it came to england chances in the world cup it would be fair to say that most fans had never been more pessimistic than they were this year after enduring years of truly dismal performances at major tournaments – culminating in the 2014 event where they failed to win any of their three group games and finished in bottom spot those results led to the resignation of manager roy hodgson', 'category': 'sports'},
         {'paragraph': 'the team that eliminated russia – croatia – also improved enormously during the tournament before it began their odds were 33/1 but they played with real flair and star players like luka modric ivan rakitic and ivan perisic showed their quality on the world stage having displayed their potential by winning all three of their group stage games croatia went on to face difficult tests like the semi-final against england', 'category': 'sports'},
         {'paragraph': 'the perseyside outfit finished in fourth place in the premier league table and without a trophy last term after having reached the champions league final before losing to real madrid', 'category': 'sports'},
         {'paragraph': 'liverpool fc will return to premier league action on saturday lunchtime when they travel to leicester city in the top flight as they look to make it four wins in a row in the league', 'category': 'sports'},
         {'paragraph': 'alisson signed for liverpool fc from as roma this summer and the brazilian goalkeeper has helped the reds to keep three clean sheets in their first three premier league games', 'category': 'sports'},
         {'paragraph': 'but the rankings during that run-in to new york hid some very different undercurrents for murray had struggled with a hip injury since the clay swing and had not played a match since losing his quarter-final at wimbledon and he would pull out of the us open just two days before the tournament began—too late however to promote nederer to the no2 seeding', 'category': 'sports'},
         {'paragraph': 'then came the oh-so-familiar djokovic-nadal no-quarter-given battle for dominance in the third set there were exhilarating rallies with both chasing to the net both retrieving what looked like winning shots nadal more than once pulled off a reverse smash and had his chance to seal the tie-break but it was djokovic serving at 10-9 who dragged one decisive error from nadal for a two-sets lead', 'category': 'sports'}
]
df = pd.DataFrame(paragraph_dict_list)
df = df[['paragraph', 'category']]

주제가 **음식**인 지문을 몇개 출력해보도록 하겠습니다.

In [3]:
df.head()

                                           paragraph category
0  dishplace is located in sunnyvale downtown the...     food
1  service can be slower during busy hours but ou...     food
2  portions are huge both french toast and their ...     food
3  we started with apps going the chicken and waf...     food
4  the biscuits and gravy was too salty two peopl...     food

주제가 **스포츠**엔 지문을 몇개 출력해보도록 하겠습니다.

In [4]:
df.tail()

                                            paragraph category
15  the perseyside outfit finished in fourth place...   sports
16  liverpool fc will return to premier league act...   sports
17  alisson signed for liverpool fc from as roma t...   sports
18  but the rankings during that run-in to new yor...   sports
19  then came the oh-so-familiar djokovic-nadal no...   sports

# 데이터 전처리
모든 딥러닝 모델들이 수학에 근간하듯이, LSTM 역시 수학을 기반으로한 모델이므로, 입력값을 수치값으로 변경해주어야 합니다. 텍스트인 입력값을 수치로 변경하기 위해, 지문에 사용된 모든 단어들을 모아 중복을 제거하여 단어 리스트를 만듭니다

In [5]:
results = set()
df['paragraph'].str.lower().str.split().apply(results.update)

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
Name: paragraph, dtype: object

리스트에 들어간 순서(인덱스)가 곧 단어를 표현하는 숫자가 됩니다. word2idx 딕셔너리를 생성하여 추후 쉽게 단어를 숫자로 전환할 수 있도록 하겠습니다.

In [6]:
idx2word= dict(enumerate(results))
word2idx = {v: k for k, v in idx2word.items()}

예를 들어, 만약 문장이 "one week"일 경우, 이번 실습을 통해 구현될 모델의 입력값은 [15, 4]가 됩니다.  
아래 코드를 실행하여 "bread"의 인덱스를 확인해보겠습니다.

In [7]:
word2idx["bread"]

440

아래 코드를 실행하여 "tournament"의 인덱스를 확인해보겠습니다.

In [8]:
word2idx["tournament"]

523

word2idx를 활용하여 모든 지문을 수치로 전환하도록 하겠습니다.

In [9]:
def encode_paragraph(paragraph):
    words = paragraph.split(" ")
    encoded = []
    for word in words:
        encoded.append([word2idx[word]])
    
    return encoded

df["enc_paragraph"] = df.paragraph.apply(encode_paragraph)

분류 항목(food, sports) 역시 수치로 변경해야합니다. 분류 항목은 one hot encoding으로 변경합니다.

In [10]:
def encode_category(category):
    if category == "food":
        return [1,0]
    else:
        return [0,1]
    
df["enc_category"] = df.category.apply(encode_category)

이번 실습에 사용할 RNN은 Dynamic RNN입니다. Dynamic RNN은 입력값의 다양한 길이를 고려하여 결과값을 출력합니다.  
Dynamic RNN이 각 입력값의 실제 길이(단어수)를 알 수 있도록 각 지문별 단어수를 미리 계산해놓도록 하겠습니다.

In [11]:
def word_cnt(paragraph):
    return len(paragraph.split(" "))

df["seq_length"] = df.paragraph.apply(word_cnt)

텐서플로우의 RNN은 항상 같은 길이의 입력 시퀀스를 받아야하므로, 길이가 작은 입력 시퀀스는 패딩을 추가적으로 넣어서 모든 시퀀스의 길이를 동일하게 설정합니다. 패딩이 RNN 계산에 영향을 끼치지 않도록, Dynamic RNN은 패딩 이전의 입력 시퀀스의 실제길이를 파라미터로 받아 계산에서 패딩을 제외시킵니다.  

이번 실습에서는 최고로 긴 지문의 단어수를 구한 후, 모든 지문에 패딩을 집어넣어 최고로 긴 지문과 동일한 길이를 갖도록 하겠습니다.  
아래의 코드를 실행하여 최고로 긴 지문의 단어수를 구합니다.

In [12]:
max_word_cnt = 0
for row in df['paragraph']:
    if len(row.split(" ")) > max_word_cnt:
        max_word_cnt = len(row.split(" "))

print (max_word_cnt)

91

모든 지문에 패딩을 집어넣어 최고로 긴 지문과 동일한 길이를 갖도록 하겠습니다.

In [13]:
def sequence_padding(enc_paragraph):
    seq_length = len(enc_paragraph)
    for i in range(seq_length,max_word_cnt):
        enc_paragraph.append([-1])
    
    return enc_paragraph

df["enc_paragraph"] = df.enc_paragraph.apply(sequence_padding)

아래의 코드를 실행하여, 패딩이 들어간 문장을 확인해보도록 하겠습니다.

In [14]:
print(df["enc_paragraph"][0])

[[494], [487], [54], [511], [364], [325], [147], [487], [514], [507], [243], [74], [438], [265], [15], [14], [154], [56], [242], [234], [303], [309], [31], [86], [352], [387], [43], [307], [56], [419], [9], [65], [356], [508], [483], [492], [247], [334], [469], [463], [289], [43], [89], [173], [39], [408], [169], [314], [382], [243], [288], [56], [351], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1], [-1]]

이제, 수치화된 모든 데이터를 확인해볼 수 있습니다.

In [15]:
df.head(20)

,paragraph,category,enc_paragraph,enc_category,seq_length
0,dishplace is located in sunnyvale downtown the...,food,"[[494], [487], [54], [511], [364], [325], [147...","[1, 0]",53
1,service can be slower during busy hours but ou...,food,"[[51], [15], [14], [529], [234], [463], [31], ...","[1, 0]",19
2,portions are huge both french toast and their ...,food,"[[228], [485], [156], [281], [501], [170], [38...","[1, 0]",42
3,we started with apps going the chicken and waf...,food,"[[322], [361], [282], [157], [88], [243], [327...","[1, 0]",43
4,the biscuits and gravy was too salty two peopl...,food,"[[243], [402], [387], [227], [400], [207], [19...","[1, 0]",82
5,the garlic fries were a great starter (and a h...,food,"[[243], [109], [384], [334], [483], [124], [43...","[1, 0]",24
6,our meal was excellent i had the pasta ai form...,food,"[[395], [149], [400], [452], [43], [63], [243]...","[1, 0]",50
7,what i enjoy most about palo alto is so many r...,food,"[[344], [43], [488], [526], [143], [375], [401...","[1, 0]",43
8,the drinks came out fairly quickly a good two ...,food,"[[243], [166], [307], [467], [217], [318], [48...","[1, 0]",49
9,despite the not so good burger the service was...,food,"[[100], [243], [263], [289], [122], [462], [24...","[1, 0]",82
10,the four reigning major champions simona halep...,sports,"[[243], [92], [212], [403], [167], [347], [246...","[0, 1]",65
11,the briton was seeded nn7 here last year befor...,sports,"[[243], [253], [400], [206], [510], [148], [29...","[0, 1]",88
12,stephens surged her way back from injury in st...,sports,"[[177], [470], [512], [431], [486], [87], [437...","[0, 1]",91
13,when it came to england chances in the world c...,sports,"[[192], [265], [307], [56], [176], [335], [511...","[0, 1]",71
14,the team that eliminated russia – croatia – al...,sports,"[[243], [114], [341], [465], [196], [427], [12...","[0, 1]",70
15,the perseyside outfit finished in fourth place...,sports,"[[243], [320], [298], [331], [511], [27], [9],...","[0, 1]",30
16,liverpool fc will return to premier league act...,sports,"[[516], [128], [448], [181], [56], [343], [188...","[0, 1]",35
17,alisson signed for liverpool fc from as roma t...,sports,"[[95], [380], [65], [516], [128], [87], [435],...","[0, 1]",30
18,but the rankings during that run-in to new yor...,sports,"[[438], [243], [62], [234], [341], [238], [56]...","[0, 1]",63
19,then came the oh-so-familiar djokovic-nadal no...,sports,"[[296], [307], [243], [445], [324], [449], [58...","[0, 1]",65

실습을 위해 아래의 값들이 사용됩니다.  
enc_paragraph: input   
enc_category: target  
seq_length: second parameter of Dynamic RNN

In [16]:
enc_paragraph = np.array(df.enc_paragraph.tolist())
enc_category = np.array(df.enc_category.tolist())
seq_length = np.array(df.seq_length.tolist())

In [17]:
train_X = enc_paragraph

In [18]:
train_Y = enc_category

입력값의 형태를 확인해봅니다.

In [19]:
train_X.shape

(20, 91, 1)

총 20개의 학습 데이터가 91개의 인덱스로 구성되어 있음을 확인할 수 있습니다.

아래 코드를 실행하여, 총 20개의 실제값(target)이 2d 벡터 형태로 존재하는 것을 확인할 수 있습니다.  
[1, 0] : food  
[0, 1] : sports

In [20]:
train_Y.shape

(20, 2)

# 텐서플로우로 지문을 읽고 주제를 분류하는 모델 구현하기

아래 다이어그램 그대로 텐서플로우 모델을 구현해보도록 하겠습니다.

In [21]:
Image(url= "https://raw.githubusercontent.com/minsuk-heo/deeplearning/master/img/lstm_model_overview.png", width=500, height=250)

In [22]:
tf.reset_default_graph()
tf.set_random_seed(777)

# hyperparameters
learning_rate = 0.001
n_epochs = 300

# define input
X = tf.placeholder(tf.float32, [None,max_word_cnt,1])
# define output
y = tf.placeholder(tf.int32, [None, 2])

# word embedding layer
embedding = tf.layers.dense(X, 5)
# LSTM cell
cell = tf.nn.rnn_cell.LSTMCell(num_units=64)
# get output and state (we only use state in this example)
output, state = tf.nn.dynamic_rnn(
    cell, embedding, 
    dtype=tf.float32, sequence_length=seq_length)
# state is contextual vector which is input to MLP classifier (dense layer) below
dense_layer = tf.layers.dense(state.h, 32)
# logit has two nodes for cross entropy with one hot encoding target
logits = tf.layers.dense(dense_layer, 2)
# loss function
cross_entropy = \
    tf.nn.softmax_cross_entropy_with_logits_v2(
    labels=y, logits=logits)
loss = tf.reduce_mean(cross_entropy)
# Adam Optimizor
optimizer = \
    tf.train.AdamOptimizer(
        learning_rate=learning_rate).minimize(loss)

# 모델 요약
모델에 대한 간략한 요약은 다음과 같습니다.  
[문맥 벡터 생성]  
입력값은 단어들의 인덱스이며, 그 길이는 항상 91입니다.  
임베딩 레이어는 인덱스를 받아, 5차원 벡터의 임베딩을 출력합니다.  
LSTM 셀은 64차원 벡터의 상태값을 출력합니다.  

[문맥 벡터를 사용하여 지문의 주제 분류하기]  
주제 분류는 두개의 dense layer를 사용합니다.  
첫번째 dense layer는 32개의 노드를 가지고 있습니다.  
두번째 dense layer는 2개의 노드를 가지고 있으며, 이 2개의 노드는 소프트맥스의 입력값으로 들어갑니다.  
소프트맥스는 각 분류값에 해당할 확률을 출력합니다.

In [23]:
print(X)
print(embedding)
print(state)
print(dense_layer)
print(logits)

Tensor("Placeholder:0", shape=(?, 91, 1), dtype=float32)
Tensor("dense/BiasAdd:0", shape=(?, 91, 5), dtype=float32)
LSTMStateTuple(c=<tf.Tensor 'rnn/while/Exit_3:0' shape=(?, 64) dtype=float32>, h=<tf.Tensor 'rnn/while/Exit_4:0' shape=(?, 64) dtype=float32>)
Tensor("dense_1/BiasAdd:0", shape=(?, 32), dtype=float32)
Tensor("dense_2/BiasAdd:0", shape=(?, 2), dtype=float32)

# 학습하기

In [24]:
# initialize the variables
init = tf.global_variables_initializer()

# Start training
with tf.Session() as sess:
    # Run the initializer
    sess.run(init)
    for epoch in range(1, n_epochs+1):
        sess.run(optimizer, 
                 feed_dict={X: train_X, y: train_Y})
        train_loss = sess.run(loss, 
                              feed_dict={X: train_X, 
                                         y: train_Y})

        if epoch == 1 or epoch % 50 == 0:
            preds = tf.nn.softmax(logits)  
            correct_prediction = \
                tf.equal(tf.argmax(preds, 1), 
                         tf.argmax(y, 1))
            # Calculate accuracy
            accuracy = tf.reduce_mean(
                        tf.cast(
                            correct_prediction, "float"))
            cur_acc = accuracy.eval(
                {X: train_X, y: train_Y})
            print("epoch: "+ str(epoch)+", loss: "+
                  str(train_loss)+", acc: "+str(cur_acc))

epoch: 1, loss: 0.6750506, acc: 0.5
epoch: 50, loss: 0.349717, acc: 0.8
epoch: 100, loss: 0.14936435, acc: 0.95
epoch: 150, loss: 0.047372367, acc: 1.0
epoch: 200, loss: 0.006438891, acc: 1.0
epoch: 250, loss: 0.0020844494, acc: 1.0
epoch: 300, loss: 0.0011486358, acc: 1.0

모든 지문들이 충분히 학습되어, 학습 정확도가 100%인 것을 확인할 수 있습니다.

# 참고자료
arXiv:1708.00107 [cs.CL]  [https://arxiv.org/abs/1708.00107]  
Learned in Translation: Contextualized Word Vectors  
Bryan McCann, James Bradbury, Caiming Xiong, Richard Socher